= form_for @micropost do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_area :content, :id => 'content'
    %br
    %span#char_count 140 characters left
  .action
    =f.submit "Submit"